.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title, .socials svg, .socials span {
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.title:hover, .socials span:hover svg {
  transform: translateY(-0.5rem);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials span:not(:first-child) {
  margin-left: 0.5rem;
}

@media screen and (max-width: 700px) {
  .title, .socials {
    margin-left: 3.5rem;
  }
}